<div class="sidebar">
  <div class="sidebar_separator">
    <div class="padd-10-15 rounded scp_bg_color6">
      <span class="txt1 scp_color7 f-left">FOLLOW US!</span>
      <ul class="f-right follow-us">
        <li>
          <a href="/deals/index.rss">
            <img src="http://wimgodeals.wimgo.com/img/rss_26x26.png" alt="Rss feed" title="Rss feed" />
          </a>
        </li>
        <li>
          <a href="http://twitter.com/dealsmavin" rel="external">
            <img src="http://wimgodeals.wimgo.com/img/twitter_26x26.png" alt="Follow us on Twitter" title="Follow us on Twitter" />
          </a>
        </li>
        <li>
          <a href="http://www.facebook.com/WimgoDailyDeals" rel="external">
            <img src="http://wimgodeals.wimgo.com/img/facebook_26x26.png" alt="Become a fan on Facebook" title="Become a fan on Facebook" />
          </a>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="clear"></div>
    </div><!-- social networks end here -->
    <br />
    
    <div class="daily_alerts dd_char_header">
        <div class="scp_bg_color9 rounded txt1 color0 padd-10-15">
          WE BELIEVE in GIVING
        </div>
    </div><!-- daily alerts end here -->

    <div class="rounded scp_bg_color6 scp_color7 txt16 dd_char_body">
      Proceeds are donated to a local charity chosen by each business.
      <div class="mod rounded scp_bg_color10 char_count">
        $12345678
      </div>
      <div align="right" class="txt6 scp_color15">Total donated</div>
    </div>
    <div class="mod"></div>
  </div><!-- separator -->
  <br />

  <div class="sidebar_separator">
    <div class="peep_tweets">
      <div class="scp_bg_color4 rounded txt1 color0 padd-10-15 peep_tweets_box">
        PEEP OUR TWEETS on TWITTER
      </div>
    </div><!-- peep our tweets end here -->
    <div class="mod">
    <div id="twtr-search-widget"></div>
      <script src="http://widgets.twimg.com/j/1/widget.js"></script>
      <link href="http://widgets.twimg.com/j/1/widget.css" type="text/css" rel="stylesheet">
      <script>
        new TWTR.Widget({
        search: '\"wimgo\" OR @wimgo OR @dealsmavin', 
        id: 'twtr-search-widget',
        loop: true,
        title: 'What\'s being said about...',
        subject: 'Daily Deals and Wimgo',
        width: 300,
        height: 300,
        theme: {
          shell: {
            background: '#e6e8e7',
            color: '#4f4f4f'
            },
          tweets: {
            background: '#ffffff',
            color: '#696969',
            links: '#f27d3a'
            }
          }
        }).render().start();
      </script>
    </div>
  </div><!-- separator here -->


</div><!-- sidebar (right rail) ends here -->
<div class="clear"></div>
