<div class="pages">
  <div class="mod-ext">
    <div class="mod-ext">
      <h1 class="txt13 scp_color3 txt-trans-up">How It Works</h1>
      <div class="mod how">
        <div class="mod txt5 scp_color11">
          For Shoppers
        </div>
        <p class="f-left" style="width:280px;">
          <strong>Every day a new deal at a great price!</strong><br />
          Daily Deals is our way of sharing great local deals with our online friends. Every day we will feature a new deal that’s only available for that day. If you love the deal then tell us you want it, but remember the deal only becomes available if enough people take it so be sure to tell all your friends. And keep in mind that the deals we offer also benefit the local community because we give a portion to local charities. Its shopping that you can feel good about.
        </p>
        <div class="f-right" style="width:300px;">
          <!-- Start of Brightcove Player -->
          <script src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
          <object id="myExperience82090391001" class="BrightcoveExperience">
            <param name="bgcolor" value="#FFFFFF" />
            <param name="width" value="300" />
            <param name="height" value="169" />
            <param name="playerID" value="82069488001" />
            <param name="publisherID" value="713285227"/>
            <param name="isVid" value="true" />
            <param name="isUI" value="true" />
            <param name="dynamicStreaming" value="true" />
           <param  name="wmode" value="transparent" /> 
            <param name="@videoPlayer" value="82090391001" />
          </object>
          <script>brightcove.createExperiences();</script>
          <!-- End of Brightcove Player -->
        </div>
        <div class="clear"></div>
        <br />
        
        <div class="mod sep_beige"></div>

        <div class="mod txt5 scp_color11">
          For Shops
        </div>
        <p class="f-left" style="width:280px;">
          Thanks for your interest in Daily Deals. We have partnered with hundreds of businesses in the area and would love to include you in this opportunity to tell others about your business. Every day we feature a great deal and yours could be next! <a href="/contacts/add"><strong>Contact us</strong></a> to let us know that you’re interested, if you have questions or if you already have a great deal in mind.
        </p>
        <div class="f-right" style="width:300px;">
          <!-- Start of Brightcove Player -->
            <script src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
            <object id="myExperience86070787001" class="BrightcoveExperience">
              <param name="bgcolor" value="#FFFFFF" />
              <param name="width" value="300" />
              <param name="height" value="169" />
              <param name="playerID" value="82069488001" />
              <param name="publisherID" value="713285227"/>
              <param name="isVid" value="true" />
              <param name="isUI" value="true" />
              <param name="dynamicStreaming" value="true" />
             <param  name="wmode" value="transparent" /> 
              <param name="@videoPlayer" value="86070787001" />
            </object>
            <script>brightcove.createExperiences();</script>
          <!-- End of Brightcove Player -->
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
